@model TrocaBolas.Web.Models.RegisterViewModel

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<h2>Registo</h2>
<div class="row">
    <div class="col-md-8">

        @if (TempData["RegisterWithSuccess"] != null)
        {
            <p>Registo efectuado com sucesso! Obrigado</p>
        }
        else
        {
            <section id="loginForm">
                @using (Html.BeginUmbracoForm("PostRegisterForm", "RegisterSurface", new { @class = "form-horizontal, form-inline", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nome" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = "Confirma o email", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmEmail)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Morada" })
                        @Html.ValidationMessageFor(m => m.Address)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ZipCodeLong)
                            @Html.TextBoxFor(m => m.ZipCodeLong, new { @class = "form-control", placeholder = "0000", style = "width:50%" })-
                            @Html.TextBoxFor(m => m.ZipCodeShort, new { @class = "form-control", placeholder = "000", style = "width:50%" })
                            @Html.ValidationMessageFor(m => m.ZipCodeLong)
                            @Html.ValidationMessageFor(m => m.ZipCodeShort)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Town, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Town, new { @class = "form-control", placeholder = "Localidade" })
                            @Html.ValidationMessageFor(m => m.Town)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Telemóvel" })
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FiscalIdentificationNumber, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FiscalIdentificationNumber, new { @class = "form-control", placeholder = "Numero Contribuinte" })
                            @Html.ValidationMessageFor(m => m.FiscalIdentificationNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary" type="submit">Registar</button>
                        </div>
                    </div>
                }
            </section>
        }

    </div>
    <div class="col-md-4">
        <aside id="socialLoginForm">
            <p>
                <a href="/login/">clique aqui</a> se ja tem uma conta
            </p>
            <p>
                <a href="/login/">clique aqui</a> se ja tem uma conta
            </p>
            <p>
                <a href="/login/">clique aqui</a> se ja tem uma conta
            </p>
            <p>
                <a href="/login/">clique aqui</a> se ja tem uma conta
            </p>
        </aside>
    </div>
</div>



